.register-box {
  background-color: #fff;

  h2 {
    font-weight: 700;
    color: #333;
  }

  .btn-link {
    font-size: 0.85rem;
    color: #6c757d;

    &:hover {
      color: #343a40;
      text-decoration: none;
    }
  }
}
