<div
  class="container d-flex justify-content-center align-items-center reset-pass-container"
>
  <div
    class="login-box p-4 shadow-lg rounded bg-white w-100"
    style="max-width: 400px"
  >
    <h2 class="text-center mb-4 fs-2">Reset Password</h2>
    <i class="bi bi-arrow-bar-left"></i>
    <form [formGroup]="resetPassForm" (ngSubmit)="onLogin()">
      <div class="mb-3 position-relative">
        <label class="form-label">Old Password</label>
        <input
          [type]="passwordVisible ? 'text' : 'password'"
          formControlName="oldPassword"
          placeholder="Enter old password"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              resetPassForm.get('oldPassword')?.touched &&
              resetPassForm.get('oldPassword')?.invalid
          }"
        />
        <button
          type="button"
          class="absolute right-2 top-9 text-gray-600"
          (click)="togglePasswordVisibility('oldPassword')"
        >
          {{ passwordVisible ? "Hide" : "Show" }}
        </button>
        <div class="invalid-feedback">Old Password is required.</div>
      </div>

      <div class="mb-3 position-relative">
        <label class="form-label">New Password</label>
        <input
          [type]="confirmPasswordVisible ? 'text' : 'password'"
          formControlName="newPassword"
          placeholder="Enter new password"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              resetPassForm.get('newPassword')?.touched &&
              resetPassForm.get('newPassword')?.invalid
          }"
        />
        <button
          type="button"
          class="absolute right-2 top-9 text-gray-600"
          (click)="togglePasswordVisibility('newPassword')"
        >
          {{ confirmPasswordVisible ? "Hide" : "Show" }}
        </button>
        <div class="invalid-feedback">New Password is required.</div>
      </div>

      <button type="submit" class="btn btn-primary w-100">Confirm Reset</button>
    </form>
  </div>
</div>
