<div
  class="container d-flex justify-content-center align-items-center min-vh-100"
>
  <div
    class="login-box p-4 shadow-lg rounded bg-white w-100"
    style="max-width: 400px"
  >
    <h2 class="text-center mb-4 fs-2">Reset Password</h2>
    <!-- <div class="position-absolute back-btn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-arrow-bar-left"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5M10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5"
        />
      </svg>
    </div> -->
    <i class="bi bi-arrow-bar-left"></i>
    <form [formGroup]="resetPassForm" (ngSubmit)="onLogin()">
      <div class="mb-3 position-relative">
        <label class="form-label">Old Password</label>
        <input
          [type]="passwordVisible ? 'text' : 'password'"
          formControlName="oldPassword"
          placeholder="Enter old password"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              resetPassForm.get('oldPassword')?.touched &&
              resetPassForm.get('oldPassword')?.invalid
          }"
        />
        <button
          type="button"
          class="btn btn-sm btn-link position-absolute top-50 end-0 translate-middle-y me-2 mt-3"
          (click)="togglePasswordVisibility('oldPassword')"
          tabindex="-1"
        >
          {{ passwordVisible ? "Hide" : "Show" }}
        </button>
        <div class="invalid-feedback">Old Password is required.</div>
      </div>

      <div class="mb-3 position-relative">
        <label class="form-label">New Password</label>
        <input
          [type]="confirmPasswordVisible ? 'text' : 'password'"
          formControlName="newPassword"
          placeholder="Enter new password"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              resetPassForm.get('newPassword')?.touched &&
              resetPassForm.get('newPassword')?.invalid
          }"
        />
        <button
          type="button"
          class="btn btn-sm btn-link position-absolute top-50 end-0 translate-middle-y me-2 mt-3"
          (click)="togglePasswordVisibility('newPassword')"
          tabindex="-1"
        >
          {{ confirmPasswordVisible ? "Hide" : "Show" }}
        </button>
        <div class="invalid-feedback">New Password is required.</div>
      </div>

      <button type="submit" class="btn btn-primary w-100">Confirm Reset</button>
    </form>
  </div>
</div>
