<div class="login-container">
  <h2 class="text-xl font-bold mb-4">User Login</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="mb-4">
      <label>Email</label>
      <input formControlName="email" type="email" class="input" />
      <div
        *ngIf="
          loginForm.get('email')?.touched && loginForm.get('email')?.invalid
        "
        class="text-danger"
      >
        Please enter a valid email.
      </div>
    </div>

    <div class="mb-4">
      <label>Password</label>
      <input
        formControlName="password"
        [type]="passwordVisible ? 'text' : 'password'"
        class="input"
      />
      <button
        type="button"
        class="absolute right-2 top-9 text-gray-600"
        (click)="togglePasswordVisibility()"
        aria-label="Toggle password visibility"
      >
        {{ passwordVisible ? "Hide" : "Show" }}
      </button>
      <div
        *ngIf="
          loginForm.get('password')?.touched &&
          loginForm.get('password')?.invalid
        "
        class="text-danger"
      >
        Password is required.
      </div>
    </div>

    <button type="submit" class="btn">Login</button>
  </form>

  <p class="mt-4 text-sm text-center">
    Don’t have an account?
    <span class="register-class text-primary" (click)="navigateToRegister()"
      >Register here</span
    >
  </p>
</div>
