<table class="table table-bordered">
  <thead>
    <tr>
      <th>Student</th>
      <th *ngFor="let date of weekDates">{{ date }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.studentName }}</td>
      <td *ngFor="let date of weekDates">
        <div class="d-flex flex-column">
          <select
            class="form-select"
            [(ngModel)]="attendanceMap[getKey(student.studentId, date)]"
            [ngModelOptions]="{ standalone: true }"
          >
            <option [ngValue]="null">Select Subject</option>
            <option
              *ngFor="let subject of subjects"
              [value]="subject.subjectId"
            >
              {{ subject.subjectName }}
            </option>
          </select>

          <label class="form-check mt-1">
            <input
              type="checkbox"
              class="form-check-input"
              [(ngModel)]="attendancePresence[getKey(student.studentId, date)]"
              [ngModelOptions]="{ standalone: true }"
            />
            Present
          </label>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<button type="submit" class="btn btn-primary" (click)="submitAttendance()">
  Submit
</button>
