<nav class="navbar">
  <div class="d-flex gap-4 ms-2">
    <span class="active-link text-light" (click)="navigateToBooks()">
      Book List
    </span>
    <span
      *ngIf="isAdmin"
      class="active-link text-light"
      (click)="navigateToUsers()"
    >
      User List
    </span>
    <span
      *ngIf="isAdmin"
      class="active-link text-light"
      (click)="navigateToDepartments()"
    >
      Department List
    </span>
    <span
      *ngIf="isAdmin"
      class="active-link text-light"
      (click)="navigateToSubjects()"
    >
      Subjects List
    </span>
  </div>
  <span class="text-college fs-3 fw-bold" (click)="navigateToDashboard()">
    Tatvasoft College
  </span>
  <div class="d-flex align-items-center gap-3">
    <span class="text-light">Current Role: {{ currentRole }} </span>
    <button (click)="onLogout()" class="btn btn-danger">Logout</button>
  </div>
</nav>

<div class="dashboard-content">
  <router-outlet></router-outlet>
</div>
