.navbar {
  background: #179bd7;
  padding: 10px;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.active-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.dashboard-content {
  padding: 20px;
}

.text-college {
  color: #253b80;
  cursor: pointer;
}

.dashboard-content {
  app-home {
    padding: 0 !important;
  }
}
