<nav class="navbar">
  <div class="d-flex gap-4 ms-2">
    <span class="active-link text-light" (click)="navigateToDashboard()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        fill="currentColor"
        class="bi bi-house-door mb-1"
        viewBox="0 0 16 16"
      >
        <path
          d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"
        />
      </svg>
    </span>
    <span
      *ngIf="isStudent || isAdmin"
      class="active-link text-light"
      (click)="navigateToBooks()"
    >
      Book List
    </span>
    <span
      *ngIf="isAdmin"
      class="active-link text-light"
      (click)="navigateToUsers()"
    >
      User List
    </span>
    <span
      *ngIf="isAdmin"
      class="active-link text-light"
      (click)="navigateToDepartments()"
    >
      Department List
    </span>
    <span
      *ngIf="isAdmin"
      class="active-link text-light"
      (click)="navigateToSubjects()"
    >
      Subjects List
    </span>
    <span
      *ngIf="isHod"
      class="active-link text-light"
      (click)="navigateToDepartments()"
    >
      My Department
    </span>
  </div>
  <!-- <span class="text-college fs-3 fw-bold" (click)="navigateToDashboard()">
    Tatvasoft College
  </span> -->
  <div class="d-flex align-items-center gap-3">
    <span class="text-light">Current Role: {{ currentRole }} </span>
    <button (click)="onLogout()" class="btn btn-danger">Logout</button>
  </div>
</nav>

<div class="dashboard-content" [ngClass]="{ 'no-padding': isHomeRoute() }">
  <router-outlet></router-outlet>
</div>
